.second-footer {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #FDF9EF;
  display: flex;
  align-items: center;
}

.copyright {
  width: 185px;
  height: 49px;
  margin: 0 auto;
}